<div class="container">

  <br><br><br><br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Raiz n-ésima</h5>
          <img src="assets/z1.png" class="img-fluid rounded mx-auto d-block ">
          <a routerLink="/raiz" class="btn btn-primary btn-block">Go to calculate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exponente n-ésima</h5>
          <img src="assets/z3.png" class="img-fluid rounded mx-auto d-block ">
          <a routerLink="/exponente" class="btn btn-primary btn-block">Go to calculate</a>
        </div>
      </div>
    </div>

    <!--
    <div class="container textCenter">
      <br><br>
      <br>
      <h4> Curso: Señales y Sistemas 2019</h4>
      <h5> Tarea Moral </h5>
      <h6> José Nuñez </h6>
    </div>

    -->
  </div>